<div
    class="w-full min-h-[100px] bg-[#FFF] border-[3px] flex flex-row shadow-md border-[#E0E0E0] rounded-[20px] text-white overflow-y-auto">
    <div class="w-[50%] h-full flex flex-col justify-start items-start p-[20px]">
        <h1 class="text-[20px] font-bold text-black">Tiket ke </h1>
        <h1 class="text-[14px] font-reguler text-black">Ticket ID : </h1>
    </div>
    <div class="w-[50%] h-full flex flex-row justify-start items-center p-[20px]">
        <div class="w-[50%] flex flex-row justify-end items-end">
            <h1 class="text-[20px] font-bold text-black">2 Orang</h1>
        </div>
        <div class="w-[50%] flex flex-row justify-end items-end">
            <button class="w-[150px] h-[40px] bg-[#000] rounded-[20px] text-white">Cetak Tiket</button>
        </div>
    </div>
</div>